my_dataset.py filter=lfs diff=lfs merge=lfs -text
predict_test.py filter=lfs diff=lfs merge=lfs -text
aircraft_classes.json filter=lfs diff=lfs merge=lfs -text
calculate_dataset_mean_std.py filter=lfs diff=lfs merge=lfs -text
draw_box_utils.py filter=lfs diff=lfs merge=lfs -text
kaggle_jupyter filter=lfs diff=lfs merge=lfs -text
results20230115-192425.txt filter=lfs diff=lfs merge=lfs -text
train_ssd300.py filter=lfs diff=lfs merge=lfs -text
mAP.png filter=lfs diff=lfs merge=lfs -text
val.txt filter=lfs diff=lfs merge=lfs -text
res50+ssd filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
test_result.jpg filter=lfs diff=lfs merge=lfs -text
validation.py filter=lfs diff=lfs merge=lfs -text
test_img filter=lfs diff=lfs merge=lfs -text
train_utils filter=lfs diff=lfs merge=lfs -text
predict_test_video.py filter=lfs diff=lfs merge=lfs -text
DatasetInpspector.py filter=lfs diff=lfs merge=lfs -text
train.txt filter=lfs diff=lfs merge=lfs -text
__pycache__ filter=lfs diff=lfs merge=lfs -text
res50_ssd.png filter=lfs diff=lfs merge=lfs -text
helper.py filter=lfs diff=lfs merge=lfs -text
loss_and_lr20230131-101912.png filter=lfs diff=lfs merge=lfs -text
plot_curve.py filter=lfs diff=lfs merge=lfs -text
save_weights filter=lfs diff=lfs merge=lfs -text
transforms.py filter=lfs diff=lfs merge=lfs -text
SSD[[:space:]]backbone运行取值.txt filter=lfs diff=lfs merge=lfs -text
requirements.txt filter=lfs diff=lfs merge=lfs -text
test_img/00ebecac178be3c3890a067d6a28234e.jpg filter=lfs diff=lfs merge=lfs -text
test_img/02d408885ea1339fac6e2344086599ab.jpg filter=lfs diff=lfs merge=lfs -text
test_img/33fa7c3c8f9c1b3abff0866de027dac4_1.jpg filter=lfs diff=lfs merge=lfs -text
test_img/00db76f676528477c66c93c7d24d7524.jpg filter=lfs diff=lfs merge=lfs -text
res50+ssd/nvidia_ssdpyt_fp32_190826.pt filter=lfs diff=lfs merge=lfs -text
test_img/02a6dc27eafaacabeca6bf7e32a4130e_1.jpg filter=lfs diff=lfs merge=lfs -text
test_img/0af3a80affb05a409c3348a3f3c4986e.jpg filter=lfs diff=lfs merge=lfs -text
test_img/0e39fea4972bc2b5eb93c9b21ff1d272.jpg filter=lfs diff=lfs merge=lfs -text
test_img/20230205-2012.mp4 filter=lfs diff=lfs merge=lfs -text
test_img/2a5b13dc48691c69cacd52ac88ee3f9a.jpg filter=lfs diff=lfs merge=lfs -text
test_img/52ca30fbdd8e92ec08a4494aeab64cd4_0.jpg filter=lfs diff=lfs merge=lfs -text
save_weights/ssd300-aircraft-249.pth filter=lfs diff=lfs merge=lfs -text
test_img/7854921f5e41d063b65bca8b429b6aa8.jpg filter=lfs diff=lfs merge=lfs -text
